* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Consolas";
  font-weight: bold;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

.board-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 30;
  margin-bottom: 50;
}

/* For chessboardjsx notation font, there are no notation props for chessboardjsx */
div[data-testid=bottom-left-a], 
div[data-testid=bottom-left-h], 
div[data-testid=column-a], 
div[data-testid=column-b], 
div[data-testid=column-c], 
div[data-testid=column-d], 
div[data-testid=column-e],
div[data-testid=column-f], 
div[data-testid=column-g], 
div[data-testid=column-h],
div[data-testid=bottom-left-1],
div[data-testid=bottom-left-8],
div[data-testid=white-square] > div:first-child > div:first-child:not([data-testid]),
div[data-testid=white-square] > div:first-child > div:last-child:not([data-testid]),
div[data-testid=black-square] > div:first-child > div:first-child:not([data-testid]),
div[data-testid=black-square] > div:first-child > div:last-child:not([data-testid]) {
  font-family: "Consolas" !important;
  font-weight: bold !important;
}